# Ignore model files
models/

# Ignore EPA PBP data
epa_pbp_2000-2024/

# Ignore virtual environment
myenv/

# Ignore Python cache
__pycache__/
*.pyc

# Ignore VS Code settings
.vscode/

# Ignore test and misc folders
all_test_folder/
misc_folder/

# Ignore scrape outputs
play_by_play_scrape/
players_scrape/
2025_pbp_scrape/
odds_scrape/

# Ignore supporting files (if needed)
supporting_files/

# Ignore data files
training.csv
team_stats.csv
pbp-2025.csv

# Notebook
epa_model.ipynb

# R script
test.R

# Python script
test.py
