{% extends "navbar.html" %} {% block title %}Best Odds - NFL Quant{% endblock %}
{% block content %}
<link rel="stylesheet" href="static/props.css" />
<h1 class="predictor-title">NFL Week 11 Best Props</h1>

<div class="odds-table">
  <div class="header-row">
    <div class="header-cell">
      <span>Player</span>
      <span>Name</span>
    </div>

    <div class="header-cell">
      <span>Pick</span>
    </div>

    <div class="header-cell">
      <span>Vegas</span>
      <span>Spread</span>
    </div>

    <div class="header-cell">
      <span>Line</span>
    </div>

    <div class="header-cell">
      <span>Edge</span>
    </div>

    <div class="header-cell">
      <span>Model</span>
      <span>Spread</span>
    </div>
  </div>

  <div id="props-column"></div>
</div>
{% endblock %}
