<!DOCTYPE html>
<html>
<head>
    <title>NFL Quant</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav class="navbar">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/best_value">Best Value</a></li>
            <li><a href="/stats">Stats</a></li>
            <li><a href="/about">About</a></li>
        </ul>
    </nav>

    <div class="table-container">
        <h1>Stats Table</h1>
        {{ table_html|safe }}
    </div>

    <script src="{{ url_for('static', filename='main.js') }}"></script>
</body>
</html>
