{% extends "navbar.html" %} {% block title %}NFL Quant{% endblock %} {% block
content %}
<h1 class="predictor-title">NFL Quant</h1>
<link rel="stylesheet" href="static/home.css" />
<link rel="stylesheet" href="static/props.css" />
<body>
  <!-- Main Section -->
  <section class="main-section">
    <h2>WEEK 14 PREDICTIONS ARE LIVE!</h2>
    <a href="/matchups">
      <button>SEE THIS WEEK'S MATCHUPS</button>
    </a>
  </section>

  <!-- Content Grid -->
  <section class="grid">
    <!-- Top Spread Edges -->
    <div class="card">
      <h3>TOP SPREAD EDGES</h3>
      <div id="spreads_edges"></div>
      <!-- <div class="team-row">
        <div class="team-square"></div>
        <span class="team-name">TEAM vs. TEAM</span>
      </div>
      <div class="team-row">
        <div class="team-square"></div>
        <span class="team-name">TEAM vs. TEAM</span>
      </div>
      <div class="team-row">
        <div class="team-square"></div>
        <span class="team-name">TEAM vs. TEAM</span>
      </div> -->
    </div>

    <!-- Top Totals Edges -->
    <div class="card">
      <h3>TOP TOTALS EDGES</h3>
      <div id="totals_edges"></div>
      <!-- <div class="team-row">
        <div class="team-square"></div>
        <span class="team-name">TEAM vs. TEAM</span>
      </div>
      <div class="team-row">
        <div class="team-square"></div>
        <span class="team-name">TEAM vs. TEAM</span>
      </div>
      <div class="team-row">
        <div class="team-square"></div>
        <span class="team-name">TEAM vs. TEAM</span>
      </div> -->
    </div>

    <!-- Matchup Tool -->
    <div class="card content-center">
      <h3>TOP PROP EDGES</h3>
      <div id="props_edges"></div>
    </div>

    <!-- This Week's Best Value -->
    <div class="card content-center">
      <h3>THIS WEEK'S BEST VALUE</h3>
      <div id="weeks_best_value"></div>
      <div id="weeks_description"></div>
    </div>
  </section>

  <!-- Footer -->
  <!-- <footer>
    <div class="footer-links">
      <a href="#">Contact</a>
      <a href="#">About</a>
      <a href="#">Disclaimer</a>
    </div>
  </footer> -->
</body>
{% endblock %}
